<a href="https://colab.research.google.com/github/tarik9145/TTP-Winter-Boot-Camp/blob/main/TTP_day_3_warm_up.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# creating a list with 5 data variables
a = 'a'
b = 'b'
c = 'c'
d = 'd'
e = 'e'
mlist = [a,b,c,d,e]

In [2]:
mlist

['a', 'b', 'c', 'd', 'e']

In [3]:
# creating a list that holds 10 values
list2 = [1,2,3,4,5,6,7,8,9,10]

In [4]:
list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
# & Creating a simple dictionary with only 2 variables
first = 'Tarik'
last = 'Miah'
mdict = {first: last}

In [44]:
mdict

{'Tarik': 'Miah'}

In [45]:
#. Printing the key:value pair in a string

dictlist = list(mdict.items())
# Convert the dictionary to a list
print(f'Hello ', dictlist)
# Print the items of the list

Hello  [('Tarik', 'Miah')]

In [46]:
# Creating a dictionary with two key:value pairs
mdict2 = {'First name': 'Tarik', 'Last name': 'Miah'}

In [47]:
mdict2

{'First name': 'Tarik', 'Last name': 'Miah'}

In [49]:
# Creating a nested dictionary conitaining three dictionaries
d = {'favorite pets':{'number 1':'dogs', 'number 2':'birds'}, 'favorite people':{'number 1': 'mom', 'number 2':'dad'}, 'favorite foods':{'number 1':'Biriany', 'number 2':'goat'}}

In [50]:
# looping through to print each pair
for k,v in d.items():
  print(k)
  print(v)

favorite pets
{'number 1': 'dogs', 'number 2': 'birds'}
favorite people
{'number 1': 'mom', 'number 2': 'dad'}
favorite foods
{'number 1': 'Biriany', 'number 2': 'goat'}

In [51]:
# Program that takes in groups of numbers and checks if they are the same
group1 = [56,7,8,9,12,1,233]
group2 = [123,5,1,645,7,548]
group3 = [56,7,8,9,12,1,233]

if group1 == group2:
  print('Groups 1 and 2 are the same')
else:
  print('Groups 1 and 2 are not the same')
if group1 == group3:
  print('Groups 1 and 3 are the same')
else:
  print('Groups 1 and 3 are not the same')
if group2 == group3:
  print('Groups 2 and 3 are the same')
else:
  print('Groups 2 and 3 are not the same')
  # series of conditionals to check if the groups are equal

Groups 1 and 2 are not the same
Groups 1 and 3 are the same
Groups 2 and 3 are not the same

In [52]:
# Generate a list of five numbers
llist = [1,2,3,4,5]

In [53]:
# Write a program to generate a combo of all values using each vowel only once
vowels = ['a','e','i','o','u','y']
for i in range(len(vowels)):
  print(vowels[i])
# I mean this does use each vowel only once at least

a
e
i
o
u
y

In [54]:
nlist = [2,13,14,123,77,5]

In [55]:
#Write a program to remove every third number from a list until the list is empty
for i in range(len(nlist)):
  if i == 2:
    nlist.pop(i)
    # Check if the list is less than 3 items in length, if it is then we pop the last item instead
  if len(nlist) <=2:
    nlist.pop()
nlist

[2, 13, 123, 77, 5]

In [56]:
# generate and output a list of 10 random numbers
import random
nlist = []
for i in range(9):
  n = random.randint(0,10)
  nlist.append(n)
  print(f'Here is your list of random numbers {nlist}')

Here is your list of random numbers [10]
Here is your list of random numbers [10, 10]
Here is your list of random numbers [10, 10, 1]
Here is your list of random numbers [10, 10, 1, 4]
Here is your list of random numbers [10, 10, 1, 4, 8]
Here is your list of random numbers [10, 10, 1, 4, 8, 2]
Here is your list of random numbers [10, 10, 1, 4, 8, 2, 5]
Here is your list of random numbers [10, 10, 1, 4, 8, 2, 5, 10]
Here is your list of random numbers [10, 10, 1, 4, 8, 2, 5, 10, 7]

In [57]:
# sums up three numbers from a list. Can be changed to add different numbers from the list
nlist = [1,5,7,8,9,0]
sum = nlist[0] + nlist[3] + nlist[2]
sum

16

In [58]:
 # another code for the above problem
nlist = [1,2,3]
 for i in nlist:
   x=1
   x += i
print(x)

4