<a href="https://colab.research.google.com/github/tarik9145/TTP-Winter-Boot-Camp/blob/main/TTP_day_2_warm_up_task_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Class Task

Using the Slice Syntax

In [ ]:
#1. Select a set of characters from “Hello World” to print
txt = 'Hello World'
print(txt[2:5])
#In previous line i print 2 letter 3 and 5

llo

In [23]:
#2.
text = "Hello World"[::-1]
print(text)
# here the reverse of "Hellow World" is dlroW olleH

dlroW olleH

In [24]:
#3
useIn = input() [::-1]
print(useIn)
#reverse operation has done

How are you?
?uoy era woH

In [ ]:
#4
sentence = input('hey honey, ')
print(sentence)
#reverse operation has done

hey honey, you look so good today
you look so good today

In [10]:
#5
name = 'iphone'
model = 13
size = 6.7
print('The type is: ', type(name), type(model), type(size))
# I have used three types of objects called name, model and size

The type is:  <class 'str'> <class 'int'> <class 'float'>

In [ ]:
#6
a = 10
b = 20
print(a+b)
#general addition is done here

30

In [22]:
#7
number = int(input("enter a number: "))
sqrt = number ** 0.5
print("square root:", sqrt)
#the operation of finding square root is done here

enter a number: 81
square root: 9.0

In [ ]:
#8
a = 30
b = 5
print (a/b)
#Division problem is done here

6.0

In [ ]:
print (a//b)
#Division problem is done here

6

In [ ]:
a = 50
b = 7
print(a/b)
print(b/a)
print(a//b)
print(b//a)
#Division problem is done here

7.142857142857143
0.14
7
0

In [19]:
#8
n1 = 5
n2 = 10
n3 = 2
n4 = 3
n5= 4

x1 = n1**2
x2 = n2**2
x3 = n3**2
x4 = n4**2
x5 = n5**2

In [20]:
'''
print(x1 / 2)
print(x2 / 2)
print(x3 / 2)
print(x4 / 2)
print(x5 / 2)
'''

print(x1 // 2)
print(x2 // 2)
print(x3 // 2)
print(x4 // 2)
print(x5 // 2)
#Division problem is done here

12
50
2
4
8

In [ ]:
# 9 & 10 
#List of strings
list1 = ["This" , "is", "a", "sample", "program"]
# List of ints
list2 = [10, 2, 45, 3, 5, 7, 8, 10]
# Merge two lists
final_list = list1 + list2
print('Merged List:')
print(final_list)
# two lists and arrays are crated and combined here

Merged List:
['This', 'is', 'a', 'sample', 'program', 10, 2, 45, 3, 5, 7, 8, 10]

In [16]:
#11
b = 123
c = 2j
d = 1.0

a1 = float(b)
a2 = int(b)
a3 = str(d)
print(a1)
print(a2)
print(a3)
# objects are converted

123.0
123
1.0

In [ ]:
#12
text = "hello world"
print(text.upper())
# lower case strings are converted into uppercase

HELLO WORLD

In [ ]:
#13
list("python")
# python is printed as one letter

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
#13
a_string = "python"
for letter in a_string:
  print(letter)
  # python is printed as one letter

p
y
t
h
o
n

In [15]:
#14
print(a_string[3])
#find 3rd letter in the previous string

h

In [ ]:
#15
import sys
print("Python version")
print(sys.version)
print("Version. info")
print(sys.version_info)
#system version printer in this statment

Python version
3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]
Version. info
sys.version_info(major=3, minor=7, micro=12, releaselevel='final', serial=0)